@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
    font-weight: bold;
}


.header {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 2em auto;
}

html {
    font-family:
        JetBrains Mono,
        monospace;
    background-color: #111;
    color: #fafafa;
    font-size: 1.3em;
}

a {
    color: #fafafa;
    text-decoration: none;
}

a span {
    font-weight: bold;
}

ul * {
    list-style: none;
}

section {
    margin: 2em 0;
}

h2 {
    font-size: 1em;
}
